<div class="row mt-3">
  <h5 class="section-title">Videos</h5>
  <div class="col-md-8 mt">
    <div class="card bg-dark text-white">
      <img src="assets/images/improve-skill.jpg" class="card-img" alt="...">
      <div class="card-img-overlay title-video bg-dark bg-opacity-25">
        <h5 class="card-title title">How to improve your skill</h5>
        <p class="card-text sub-title">Waseem Arshad</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card bg-dark text-white">
      <img src="assets/images/improve-skill.jpg" class="card-img" alt="...">
      <div class="card-img-overlay overlay-title bg-dark bg-opacity-25 d-flex">
        <p class="card-title text-start me-5 title opacity-100">Michael Kenliht</p>
        <p class="card-text text-end sub-title">15567 view</p>
      </div>
    </div>

    <div class="card bg-dark text-white mt-3">
      <img src="assets/images/improve-skill.jpg" class="card-img" alt="...">
      <div class="card-img-overlay overlay-title d-flex bg-dark bg-opacity-25">
        <p class="card-title text-start me-5 title">Michael Kenliht</p>
        <p class="card-text text-end sub-title">15567 view</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card bg-dark text-white mt-3">
      <img src="assets/images/improve-skill.jpg" class="card-img" alt="...">
      <div class="card-img-overlay overlay-title d-flex bg-dark bg-opacity-25">
        <p class="card-title text-start me-5 title ">Michael Kenliht</p>
        <p class="card-text text-end sub-title">15567 view</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card bg-dark text-white mt-3">
      <img src="assets/images/improve-skill.jpg" class="card-img" alt="...">
      <div class="card-img-overlay overlay-title d-flex bg-dark bg-opacity-25">
        <p class="card-title text-start me-5 title ">Michael Kenliht</p>
        <p class="card-text text-end sub-title">15567 view</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card bg-dark text-white mt-3">
      <img src="assets/images/improve-skill.jpg" class="card-img" alt="...">
      <div class="card-img-overlay d-flex bg-dark bg-opacity-75 justify-content-center py-5">
        <i class="fa fa-arrow-up me-3"></i>
        <p class="card-title text-start me-5 title">Upload <br>Your Own Videos</p>
      </div>
    </div>
  </div>
</div>
