<div>
    <div class="d-flex align-items-center mb-2">
        <h3 class="flex-grow-1">People</h3>
        <a
                href="#"
                class="m-0"
                style="color:#d83a56; text-decoration:none;font-size:14px"
        >View all</a>
    </div>
    <div class="row">
        <div class="col-md-8 mb-4">
            <ng-template [ngIf]="peoples != null && peoples[0] != null">
                <app-grid
                        [title]="peoples[0].name"
                        [sub]="peoples[0].role"
                        [view]="peoples[0].views"
                        [picture]="peoples[0].profilePicture"
                        [size]="'full'"
                ></app-grid>
            </ng-template>
        </div>
        <div class="col-md-4 mb-4">
            <div class="row">
                <div class="col-md-12 mb-4">
                    <ng-template [ngIf]="peoples != null && peoples[1] != null">
                        <app-grid
                                [title]="peoples[1].name"
                                [sub]="peoples[1].role"
                                [view]="peoples[1].views"
                                [picture]="peoples[1].profilePicture"
                                [size]="isMobile ? 'full' : 'half'"
                        ></app-grid>
                    </ng-template>
                </div>
                <div class="col-md-12">
                    <ng-template [ngIf]="peoples != null && peoples[2] != null">
                        <app-grid
                                [title]="peoples[2].name"
                                [sub]="peoples[2].role"
                                [view]="peoples[2].views"
                                [picture]="peoples[2].profilePicture"
                                [size]="isMobile ? 'full' : 'half'"
                        ></app-grid>
                    </ng-template>
                </div>
            </div>
        </div>
        <ng-template ngFor let-people [ngForOf]="peoples" let-i="index">
            <div *ngIf="i > 2" class="col-md-4 mb-4">
                <app-grid
                        [title]="people.name"
                        [sub]="people.role"
                        [view]="people.views"
                        [picture]="people.profilePicture"
                        [size]="isMobile ? 'full' : 'half'"
                ></app-grid>
            </div>
        </ng-template>

        <div class="col-md-4 mb-4">
            <app-grid-add
                    [icon]="'fa-briefcase'"
                    [firstWord]="'Show'"
                    [secondWord]="'Your work'"
            ></app-grid-add>
        </div>
    </div>
</div>
