<div class="footer">
    <div class="footer__social-media mb-4">
        <button class="btn me-2">
            <i class="fab fa-twitter"></i>
        </button>
        <button class="btn me-2">
            <i class="fab fa-linkedin-in"></i>
        </button>
        <button class="btn me-2">
            <i class="fab fa-facebook-f"></i>
        </button>
    </div>

    <div class="footer__navigation">
        <ul>
            <li>About</li>
            <li>For Business</li>
            <li>Suggestion</li>
            <li>Help & FAQs</li>
            <li>Contacts</li>
            <li>Pricing</li>
        </ul>
    </div>

    <div class="footer__copyright">
        <p class="m-0">Copyright 2013</p>
    </div>

    <div class="footer__terms">
        <ul>
            <li>Privacy</li>
            <li>Terms</li>
        </ul>
    </div>
</div>
