.footer {
    border-top: 2px solid #d83a56;
    padding: 16px 0px;
}

.footer__social-media .btn {
    color: #d83a56;
    border: 1px solid #d83a56;
}

.footer__navigation ul {
    list-style: none;
    padding: 0px;
}
.footer__navigation ul li {
    display: inline;
    margin-right: 8px;
    color: #d83a56;
    font-weight: 600;
    cursor: pointer;
}
.footer__navigation ul li:nth-child(n + 2):before {
    content: '/';
    margin-right: 8px;
}

.footer__copyright {
    color: grey;
}

.footer__terms ul {
    list-style: none;
    padding: 0px;
}
.footer__terms ul li {
    display: inline;
    margin-right: 8px;
    color: #d83a56;
    font-weight: 600;
    cursor: pointer;
}
.footer__terms ul li:nth-child(n + 2):before {
    content: '/';
    margin-right: 8px;
}
