
.logo {
  font-size: 32px;
}
.logo .logo__first-word {
  color: #707070;
}
.logo .logo__second-word {
  color: #d83a56;
}

.search-box {
  background: #f3f3f3;
}

.menu {
  padding: 12px 12px;
  overflow: auto;
  background: #efefef;
}


.btn-primary {
  background: #d83a56;
}

