<header>
  <div class="px-3 py-2">
    <div class="container">
      <div class="container d-flex flex-wrap justify-content-center">
        <a href="/" class="display-6 h-25 d-flex align-items-center my-2 my-lg-0  me-3 text-black text-decoration-none">
          <span class="text-warning">Social</span><span class="text-danger">Network</span>
        </a>

        <div class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
         <app-input></app-input>
        </div>

        <div class="text-end">
          <app-avatar></app-avatar>
        </div>
      </div>

    </div>
  </div>
  <div class="border-top border-bottom mb-3">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
        <li>
          <a href="#" class="nav-link text-color">Videos</a>
        </li>
        <li>
          <a href="#" class="nav-link text-color">/</a>
        </li>
        <li>
          <a href="#" class="nav-link text-color">People</a>
        </li>
        <li>
          <a href="#" class="nav-link text-color">/</a>
        </li>
        <li>
          <a href="#" class="nav-link text-color">Documents</a>
        </li>
        <li>
          <a href="#" class="nav-link text-color">/</a>
        </li>
        <li>
          <a href="#" class="nav-link text-color">Events</a>
        </li>
        <li>
          <a href="#" class="nav-link text-color">/</a>
        </li>
        <li>
          <a href="#" class="nav-link text-color">Communities</a>
        </li>
        <li>
          <a href="#" class="nav-link text-color">/</a>
        </li>
        <li>
          <a href="#" class="nav-link text-color">Favorites</a>
        </li>
        <li>
          <a href="#" class="nav-link text-color">/</a>
        </li>
        <li>
          <a href="#" class="nav-link text-color">Channels</a>
        </li>
      </ul>
    </div>
  </div>
</header>
