<div class=" main-background">
  <div class="container">
    <app-header></app-header>
    <div class="row">
      <div class="col-md-8">
        <app-page-video></app-page-video>
      </div>
      <div class="col-md-4">
        <app-activity></app-activity>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <section>
          <app-page-people></app-page-people>
        </section>

        <section>
          <app-page-document></app-page-document>
        </section>


      </div>
      <div class="col-md-4">
        Channels
      </div>
    </div>

  </div>
  <app-footer></app-footer>
</div>

