<div class="container mt-4">
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="row">
        <div class="col-md-3 d-flex align-items-center mb-2">
          <div class="logo">
            <span class="logo__first-word">Social</span>
            <span class="logo__second-word">Network</span>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-center mb-2">
          <div class="d-flex position-relative w-100">
            <input
              type="text"
              class="form-control search-box"
              style="padding-right:28px"
              placeholder="find..."
            />
            <div
              class="position-absolute"
              style="right: 0px;height: 100%;display: flex;align-items: center;padding: 8px;"
            >
              <i class="fas fa-search" style="right:0px"></i>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex align-items-center mb-2">
          <button class="btn btn-primary px-3 h-100 me-4">
            <i class="fas fa-upload"></i>
            Upload
          </button>
          <div class="d-flex profile">
            <img
              class="profile__picture"
              src="https://thispersondoesnotexist.com/image"
            />
            <div>
              <p class="m-0 profile__first-name">Waseem</p>
              <p class="m-0 profile__last-name">Arshad</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="menu d-flex mb-4">
        <div
          *ngFor="let menu of menus; let i = index"
          class="d-flex align-items-center"
        >
          <a class="menu__a" href="{{menu.url}}">
            {{ menu.display }}
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="mb-4">
        <div class="d-flex align-items-center mb-2">
          <h3 class="flex-grow-1">Videos</h3>
          <a
            href="#"
            class="m-0"
            style="color:#d83a56; text-decoration:none; font-size:14px"
          >Browse all videos</a
          >
        </div>
        <div class="row">
          <div class="col-md-8 mb-4">
            <ng-template [ngIf]="videos != null && videos[0] != null">
              <app-grid
                [title]="videos[0].name"
                [sub]="videos[0].author"
                [view]="videos[0].views"
                [picture]="videos[0].thumbnail"
                [size]="'full'"
              ></app-grid>
            </ng-template>
          </div>
          <div class="col-md-4 mb-4">
            <div class="row">
              <div class="col-md-12 mb-4">
                <ng-template [ngIf]="videos != null && videos[1] != null">
                  <app-grid
                    [title]="videos[1].name"
                    [sub]="videos[1].author"
                    [view]="videos[1].views"
                    [picture]="videos[1].thumbnail"
                    [size]="isMobile ? 'full' : 'half'"
                  ></app-grid>
                </ng-template>
              </div>
              <div class="col-md-12">
                <ng-template [ngIf]="videos != null && videos[2] != null">
                  <app-grid
                    [title]="videos[2].name"
                    [sub]="videos[2].author"
                    [view]="videos[2].views"
                    [picture]="videos[2].thumbnail"
                    [size]="isMobile ? 'full' : 'half'"
                  ></app-grid>
                </ng-template>
              </div>
            </div>
          </div>
          <ng-template ngFor let-video [ngForOf]="videos" let-i="index">
            <div *ngIf="i > 2" class="col-md-4 mb-4">
              <app-grid
                [title]="video.name"
                [sub]="video.author"
                [view]="video.views"
                [picture]="video.thumbnail"
                [size]="isMobile ? 'full' : 'half'"
              ></app-grid>
            </div>
          </ng-template>

          <div class="col-md-4 mb-4">
            <app-grid-add
              [icon]="'fa-upload'"
              [firstWord]="'Upload'"
              [secondWord]="'Your Own Video'"
            ></app-grid-add>
          </div>
        </div>
      </div>
      <div class="mb-4">
        <div class="d-flex align-items-center mb-2">
          <h3 class="flex-grow-1">People</h3>
          <a
            href="#"
            class="m-0"
            style="color:#d83a56; text-decoration:none;font-size:14px"
          >View all</a
          >
        </div>
        <div class="row">
          <div class="col-md-8 mb-4">
            <ng-template [ngIf]="peoples != null && peoples[0] != null">
              <app-grid
                [title]="peoples[0].name"
                [sub]="peoples[0].role"
                [view]="peoples[0].views"
                [picture]="peoples[0].profilePicture"
                [size]="'full'"
              ></app-grid>
            </ng-template>
          </div>
          <div class="col-md-4 mb-4">
            <div class="row">
              <div class="col-md-12 mb-4">
                <ng-template [ngIf]="peoples != null && peoples[1] != null">
                  <app-grid
                    [title]="peoples[1].name"
                    [sub]="peoples[1].role"
                    [view]="peoples[1].views"
                    [picture]="peoples[1].profilePicture"
                    [size]="isMobile ? 'full' : 'half'"
                  ></app-grid>
                </ng-template>
              </div>
              <div class="col-md-12">
                <ng-template [ngIf]="peoples != null && peoples[2] != null">
                  <app-grid
                    [title]="peoples[2].name"
                    [sub]="peoples[2].role"
                    [view]="peoples[2].views"
                    [picture]="peoples[2].profilePicture"
                    [size]="isMobile ? 'full' : 'half'"
                  ></app-grid>
                </ng-template>
              </div>
            </div>
          </div>
          <ng-template ngFor let-people [ngForOf]="peoples" let-i="index">
            <div *ngIf="i > 2" class="col-md-4 mb-4">
              <app-grid
                [title]="people.name"
                [sub]="people.role"
                [view]="people.views"
                [picture]="people.profilePicture"
                [size]="isMobile ? 'full' : 'half'"
              ></app-grid>
            </div>
          </ng-template>

          <div class="col-md-4 mb-4">
            <app-grid-add
              [icon]="'fa-briefcase'"
              [firstWord]="'Show'"
              [secondWord]="'Your work'"
            ></app-grid-add>
          </div>
        </div>
      </div>
      <div class="mb-4">
        <div class="d-flex align-items-center mb-2">
          <h3 class="flex-grow-1">Documents</h3>
          <a
            href="#"
            class="m-0"
            style="color:#d83a56; text-decoration:none;font-size:14px"
          >Browse all documents</a
          >
        </div>
        <div class="row">
          <div class="col-md-8 mb-4">
            <ng-template [ngIf]="documents != null && documents[0] != null">
              <app-grid
                [title]="documents[0].name"
                [sub]="'by '+documents[0].author"
                [view]="documents[0].views"
                [picture]="documents[0].thumbnail"
                [size]="'full'"
              ></app-grid>
            </ng-template>
          </div>
          <div class="col-md-4 mb-4">
            <div class="row">
              <div class="col-md-12 mb-4">
                <ng-template [ngIf]="documents != null && documents[1] != null">
                  <app-grid
                    [title]="documents[1].name"
                    [sub]="'by '+documents[1].author"
                    [view]="documents[1].views"
                    [picture]="documents[1].thumbnail"
                    [size]="isMobile ? 'full' : 'half'"
                  ></app-grid>
                </ng-template>
              </div>
              <div class="col-md-12">
                <ng-template [ngIf]="documents != null && documents[2] != null">
                  <app-grid
                    [title]="documents[2].name"
                    [sub]="'by '+documents[2].author"
                    [view]="documents[2].views"
                    [picture]="documents[2].thumbnail"
                    [size]="isMobile ? 'full' : 'half'"
                  ></app-grid>
                </ng-template>
              </div>
            </div>
          </div>
          <ng-template ngFor let-people [ngForOf]="documents" let-i="index">
            <div *ngIf="i > 2" class="col-md-4 mb-4">
              <app-grid
                [title]="people.name"
                [sub]="'by '+people.author"
                [view]="people.views"
                [picture]="people.thumbnail"
                [size]="isMobile ? 'full' : 'half'"
              ></app-grid>
            </div>
          </ng-template>

          <div class="col-md-4 mb-4">
            <app-grid-add
              [icon]="'fa-file-alt'"
              [firstWord]="'Share'"
              [secondWord]="'Your document'"
            ></app-grid-add>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mb-4">
        <div
          class="d-flex align-items-center mb-2"
          style="padding: 0px 0px;
        border-bottom: 3px solid #bcbcbc;"
        >
          <h3 class="flex-grow-1">Activity</h3>
          <a
            href="#"
            class="m-0"
            style="color:#d83a56; text-decoration:none;font-size:14px"
          >View timeline</a
          >
        </div>

        <ng-template ngFor let-activity [ngForOf]="activites" let-i="index">
          <app-activity
            [picture]="activity.picture"
            [name]="activity.name"
            [description]="activity.description"
            [actionCode]="activity.actionCode"
            [timestamp]="activity.timestamp"
          >
          </app-activity>
        </ng-template>
      </div>
      <div class="mb-4">
        <div
          class="d-flex align-items-center mb-4"
          style="padding: 0px 0px;
        border-bottom: 3px solid #bcbcbc;"
        >
          <h3 class="flex-grow-1">Channels</h3>
          <a
            href="#"
            class="m-0"
            style="color:#d83a56; text-decoration:none;font-size:14px"
          >Browse all channels</a
          >
        </div>

        <div class="row">
          <div class="col-sm-6" *ngFor="let channel of channels">
            <app-channel
              [name]="channel.name"
              [picture]="channel.picture"
              [isSubscribed]="channel.isSubscribed"
            >
            </app-channel>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="footer">
        <div class="footer__social-media mb-4">
          <button class="btn me-2">
            <i class="fab fa-twitter"></i>
          </button>
          <button class="btn me-2">
            <i class="fab fa-linkedin"></i>
          </button>
          <button class="btn me-2">
            <i class="fab fa-facebook"></i>
          </button>
        </div>

        <div class="footer__navigation">
          <ul>
            <li>About</li>
            <li>For Business</li>
            <li>Suggestion</li>
            <li>Help & FAQs</li>
            <li>Contacts</li>
            <li>Pricing</li>
          </ul>
        </div>

        <div class="footer__copyright">
          <p class="m-0">Copyright 2013</p>
        </div>

        <div class="footer__terms">
          <ul>
            <li>Privacy</li>
            <li>Terms</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
