<div class="container mt-4">
  <div class="row">
    <div class="col-md-12 mb-4">
      <app-header></app-header>
    </div>

    <div class="col-md-12">
      <app-menu></app-menu>
    </div>
    <div class="col-md-8">
      <div class="mb-4">
        <app-page-video></app-page-video>
      </div>
      <div class="mb-4">
       <app-page-people></app-page-people>
      </div>
      <div class="mb-4">
       <app-page-document></app-page-document>
      </div>
    </div>
    <div class="col-md-4">
     <app-page-activity></app-page-activity>
    </div>

    <div class="col-md-12">
      <app-footer></app-footer>
    </div>
  </div>
</div>
