.menu__a {
    text-decoration: none;
    color: #d83a56;
    background: white;
    font-weight: 600;
    padding: 6px 12px;
    border: 2px solid #d83a56;
    border-radius: 24px;
    margin-right: 8px;
}
